body{
    font-family: sans-serif;
    margin:0%;
    padding: 0%;
    color:#e2e8f0;
    background-color: #0f172a;
}
a{
    color:  #5eead4;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(2, 1fr); 
    grid-gap: 10px; 
    width: auto; 
  }
  
  .box {
    padding: 20px;
    text-align: center;
  }
  
  .logo {
    grid-column: span 1; 
    grid-row: span 2; 
    display: flex;    
    justify-content: center;    
    align-items: center;    
    background-color:#2dd4bf1a;    
    height: 250px;     
    width: 250px;    
    border-radius: 50%;    
    padding:40px;    
    margin-top: 40px;  
    margin-left: 100px;
    font-size: 80px;    
    
  }
  .botton{
    display: flex;
    flex-direction:row-reverse;
    padding: 10px;
    margin-right: 10px;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 100px;;
    height: 40px;
    background-color:#2dd4bf1a;
    border-width: 2px 4px;
    border-radius: 40px;
    text-align:center;
}
.title{
    font-size: 60px;
    margin-right: 50px;
    margin-bottom: -100px;
    margin-top: -80px;

}
.hr{
    margin-top: 20px;
}
.block{
    display: block;
    height: 50px;
}
.introduction{
    display: flex;
    padding:0%;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #475569;
    border-width: 2px 4px;
    border-radius: 40px;
    
}
.intro{
    margin-top: 50px;
    margin-left: 5%;
    padding: 10px; 
}
  img {
    max-width: 100%; 
    margin-top: 100px;
    margin-left: 10px; 
    margin-bottom: 20px;
  }
  .contactMe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 140px;;
    height: 60px;
    background-color:#2dd4bf1a;
    border-width: 2px 4px;
    border-radius: 40px;
    text-align:center;
  }
.portfolio{
    height: 400px;
    width: auto;
    margin-top: 300px;
    padding: 40px;

}
.portfolio h2{
    font-size: 25px;
}
.container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}
.sample{
    background-color: #475569;
    width: 250px;
    height: 100px;
    margin: 50px;
    text-align: center;
    border-width: 2px 4px;
    border-radius: 40px;
}
.about{
    height: 150px;
    width: auto;
    margin-top: 300px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    border-width: 2px 4px;
    border-radius: 40px;
    background-color: #475569;
}
.about p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100px;
    width: 500px;
    margin-top: 150px;
    margin-left: 450px;
  }
  
  .contact h3 {
    color: #e2e8f0;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact ul {
    font-size: 20px;
    list-style: none;
    padding: 10px;
    margin-top: 35px;
  }
  .contact li {
    margin-top: 30px;
    margin-left: 10px;
    display: inline;
  }
  .contact a:hover {
    color: #2dd4bf1a;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    padding: 10px 0;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  

  
